@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fallRotate {
  0% {
    transform: translateY(-100px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

.square {
  position: absolute;
  top: -50px;
  border-radius: 4px;
  animation-name: fallRotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: transform, opacity;
}
